# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yml
Dockerfile
Dockerfile.prod
.docker
Dockerrun.aws.json

#AWS
.elasticbeanstalk

# Virtual environment
.venv/
venv/
venv
.env
.env.*
# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# C extensions
*.so

# VS Code
.vscode

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore